[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "markdown2>=2.5.4",
    "pillow>=12.1.1",
    "reportlab>=4.4.9",
]
